@import "../node_modules/swiper/swiper.min.css";
@import "../node_modules/swiper/modules/navigation/navigation.min.css";
@import "../node_modules/swiper/modules/pagination/pagination.min.css";
@import "../node_modules/swiper/modules/effect-fade/effect-fade.min.css";
@import "../node_modules/swiper/modules/autoplay/autoplay.min.css";

root {
  --swiper-theme-color: hsl(0, 0%, 10%) !important;
}
html {
  scroll-behavior: smooth;
}

nav .flex {
  max-width: 1600px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 1.2rem !important;
  font-weight: bold !important;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: hsl(0, 0%, 97%);
}

.swiper-pagination-bullet {
  background: hsl(0, 0%, 97%) !important;
  opacity: 0.6 !important;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
  background: hsl(183, 100%, 40%) !important ;
}

@media (min-width: 640px) {
  .swiper {
    height: 450px;
  }
}
@media (min-width: 640px) {
  #industries .grid .h-44 {
    height: 200px !important;
  }
}
@media (min-width: 768px) {
  #industries .grid .h-44 {
    height: 230px !important;
  }
}

@media (min-width: 1024px) {
  .swiper {
    height: 550px;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    padding: 1rem;
    font-size: 1.4rem !important;
  }
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: 30px !important;
  }
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: 50px !important;
  }
}
